# Ambiente virtual
venv/
.env
*.env

# Arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# IDEs e editores
.vscode/
.idea/
*.swp

# Banco de dados SQLite (se estiver usando)
*.sqlite3
*.db

# Alembic
alembic/versions/

# Arquivos de sistema
.DS_Store
Thumbs.db
